<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
        <link rel="stylesheet"  href="..static/estilo.css">
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="hidden" name="id" id="id" value="{{pessoa.id}}"> <br/>
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome" value="{{pessoa.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descrição:</label>
            </div>
            <input type="text" name="descricao" id="descricao" value="{{pessoa.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="numpessoas">Numero de Pessoas:</label>
            </div>
            <input type="text" name="numpessoas" id="numpessoas" value="{{pessoa.numpessoas if pessoa.numpessoas != 0 else ''}}"> <br/>
            <div class="descricoes"> 
                <label for="backend">Linguagem Backend:</label>
            </div>
            <input type="text" name="backend" id="backend" value="{{pessoa.backend}}"> <br/>
            <div class="descricoes"> 
                <label for="frontend">Framework Frontend:</label>
            </div>
            <input type="text" name="frontend" id="frontend" value="{{pessoa.frontend}}"> <br/> 
            <hr/>
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>