<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}}</title> 
    <link rel="stylesheet"  href="../static/homepage.css">
</head>
<body>
    <div>
        <h1>{{titulo_app}}</h1>
        <a href="/listarfront"class="listarfront btn">ListarFRontend </a> <br />
        <a href="/listarback"class="listarback btn">ListarBackend </a> <br />
        <a href="/listarsgbds"class="listarsgbds btn">ListarSGBDs </a> <br />
        <a href="/listar"class="listar btn">ListarSquads </a> <br />
        <a href="/cadastrarsquads"class="cadastrar btn">Cadastrar</a>
    </div>
</body>
</html> 