<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Listar</title>
    <link rel="stylesheet" href="../static/listar.css">
</head>
<body> 
    <div class="conteudo">
        <a class='menu' href="/">Inicio</a>
        <a class='cadastro' href="/cadastrarfront">Cadastrar</a>
        <table id='tabela-squads'>
            <thead>
                <tr> 
                    <th>FrontId</th>
                    <th>Nome</th>
                    <th>Versão</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in lista %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.versao }}</td>
                    <td>
                        <a href="/cadastrarfront?id={{ p.id }}" class="editar btn">Editar</a>
                        <a href="/excluirfront?id={{ p.id }}" class="excluir btn">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>